<!--<div class="list list-inset">
  <ion-item ng-repeat="client in clients" class="item item-icon-right" ng-click="selectedClient(client)">
    {{client.Name}}
  </ion-item>
</div>-->



    <!--<ion-view view-title="Clients" hide-nav-bar="false" ng-controller="lkpClientlstCtrl">-->
      <!--<ion-content class="padding">-->
        <div class="list list-inset">
          <ion-item ng-repeat="client in clients" class="item item-icon-right" ng-click="selectedClient(client)">
               {{client.Name}}
          </ion-item>
        </div>
      <!--</ion-content>-->
    <!--</ion-view>-->

